### Above combination will ignore all files without extension ###

!Dockerfile

.qglviewer.xml
.vscode/
build/
figs/
test.cpp
__pycache__/
datasets
offenders
highd_loc*
highd_scenarios/
highd_scenarios_no_traffic/
pseudocode.cpp
test.py
gen_trajectory.py
APF.py
reachable_set_comparisson.py
shadow_propagation.png