*
!*.*
!*/
### Above combination will ignore all files without extension ###

!Dockerfile

.qglviewer.xml
.vscode/
build/
install/
figs/
test.cpp
__pycache__/
datasets
offenders
highd_loc*
highd_scenarios/
pseudocode.cpp
test.py
gen_trajectory.py
