*
!*.*
!*/
### Above combination will ignore all files without extension ###

!Dockerfile

.qglviewer.xml
.vscode/
build/
install/
figs/
test.cpp
__pycache__/
datasets
highd_loc*

test.py
gen_trajectory.py
